[submodule "themes/ataraxia-zola"]
	path = themes/ataraxia-zola
	url = git@github.com:mundusnine/ataraxia-zola.git
[submodule "content/blog"]
	path = content/blog
	url = git@github.com:mundusnine/byoge-blog.git
