<nav class="nav  nav--social">
  {% assign handle = include.name %}
  {%case handle%}  
    {% when "mundus" %}
      {% for link in site.social_links_mundus %}
        {% assign id = link[0] | downcase %}
        <a href="{{ link[1] }}">
          {% include icon.html id=id title=id %}
        </a>
      {% endfor %}
    {% when "securas" %}
      {% for link in site.social_links_securas %}
        {% assign id = link[0] | downcase %}
        <a href="{{ link[1] }}">
          {% include icon.html id=id title=id %}
        </a>
      {% endfor %}
    {%endcase%}
</nav>
