$debug: false;
// Background colours
$backgroundColour: #ffffff;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #f9fafa;
$accentColour: rgba(104, 199, 222, 1.0);

// Text colours
$headingColour: #242e2b;
$bodyColour: #384743;
$linkColour: rgba(0, 0, 0, 1.0);
$hoverColour: rgba(104, 199, 222, 1.0);
$focusColour: #fa407a;
$captionColour: #a8adac;
$white: #ffffff;

//Button image 
$scaleAmount: 1.2;
$scaleSpeed: 0.3s;
// Typography
$bodytype: (
  font-family: 'Georgia, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: '"Merriweather", serif',
  regular: 400,
  bold: 700,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

//navbar button colors
$colors:( rgba(240,79,74,1.0),rgba(249,163,75,1.0),rgba(255,196,43,1.0),rgba(251,238,67,1.0),rgba(213,223,36,1.0),
rgba(48,180,74,1.0),rgba(81,191,224,1.0),rgba(124,161,213,1.0),rgba(179,145,195,1.0),rgba(174,158,200,1.0));

// Font import, if you're using a non-standard web font
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
